* @prafulkoppalkar

docs/ @akash-kamble-juspay
LICENSE @akash-kamble-juspay
README.md @akash-kamble-juspay
SECURITY.md @akash-kamble-juspay
.gitignore @prafulkoppalkar

Hyperswitch-React-Demo-App/ @prafulkoppalkar @JeevaRamu0104
Hyperswitch-React-Demo-App/Dockerfile @JeevaRamu0104 @prafulkoppalkar
Hyperswitch-React-Demo-App/Makefile @JeevaRamu0104 @prafulkoppalkar
Hyperswitch-React-Demo-App/promptScript.js @prafulkoppalkar
Hyperswitch-React-Demo-App/webpack.common.js @prafulkoppalkar
Hyperswitch-React-Demo-App/webpack.dev.js @prafulkoppalkar

.husky/ @harsh-Juspay @prafulkoppalkar
.github/ @harsh-Juspay @prafulkoppalkar

aws/ @prafulkoppalkar

webpack.dev.js @prafulkoppalkar
webpack.common.js @prafulkoppalkar

src/orca-log-catcher @vsrivatsa-juspay
src/orca-loader @prafulkoppalkar
src/LoaderConroller.res @prafulkoppalkar
src/Utilities @prafulkoppalkar
src/libraries @prafulkoppalkar
src/Hooks @prafulkoppalkar
src/Payment.res @prafulkoppalkar
