*                     @seekshiva @ArushKapoorJuspay @Sanskar2001

Hyperswitch-React-Demo-App/ @ArushKapoorJuspay @aritro2002 @sakksham7 @Sanskar2001 @AbhishekChorotiya

.husky/               @seekshiva  
.github/              @seekshiva

aws/                  @seekshiva

webpack.dev.js        @ArushKapoorJuspay @seekshiva  
webpack.common.js     @ArushKapoorJuspay @seekshiva

src/                  @seekshiva @ArushKapoorJuspay @sakksham7 @aritro2002 @AbhishekChorotiya  
src/hyper-log-catcher @Sanskar2001

cypress-tests/        @Sanskar2001
