@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");



body {
  font-family: "Raleway";
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  color: var(--dark-terminal-color);
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading{
  color:#454141ab;
  display: flex;
  font-weight:bolder;
  font-family:sans-serif ;
  justify-content: center;
}
.mainConatiner{
  gap: 1em;
  padding: 1em;
}

.browser { 
  border-radius: 5px ;
  box-shadow: 0px 20px 25px 10px rgba(0, 0, 0, .4);
  margin: auto
}

.toolbar {
  background-color: #f3f3f3;;
  width: auto;
  height: 23px;
  border-radius: 5px 5px 0 0;
}

.tab {
  border-bottom: 15px solid #E6E6E6;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-radius: 5px 5px 0 0;
  height: 9px;
  width: 110px;
  display: inline-block;
}

.tabbar {
  display: flex;
  justify-content: center;
  background-color: #fcfeff;
  align-items: center;
  width: auto;
  height: 23px;
}

.btn {
width: 10px;
height: 10px;
border-radius: 5px;
float: left;
margin: 8px 5px 0 0;
box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .05);
}
.btn:first-of-type {
margin-left: 10px;
}

.close {
  background-color: #E06752;
}
.titleContainer{
  gap: 0.5em;
  display: flex;
  width: max-content;
  flex-direction: column;
  padding-bottom: 2em;
}
.logoImg{
  width: 32px
}
.title{
  font-size: 25px;
  font-weight: 900;
}
.testMode{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100px;
  font-weight: 600;
  background-color: rgb(255,222,146);
  color: rgb(187,85,4);
}

#payment-message{
  color: red;
}

.min {
  background-color:  #ecc343;
}

.max {
  background-color: #57d08d;
}
.ordersummary{
  font-weight: bolder;
}
.info{
  border-radius: 50%;
  border: 1px solid #6b7a94;
  width:10px;
  display: flex;
  height:10px;
  justify-content: center;
  align-items: center;
}
.input{
  width:40%;
  display: flex;
  align-items: center;
  gap:0.5em;
  height: 60%;
  border-radius: 10px;
  font-family: sans-serif;
  /* border: 1px solid #cbcbcb; */
  background: #f5f9fc;
  margin: auto;
  font-size: x-small;
  font-weight: 600;
  color: #6b7a94;
  padding-left: 5px;
}
.cart {
  display: flex;
  flex-direction: column;
  padding: 2em;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 3em;
  width: 50%;
}
.viewport {
  background-color: white;
  width: auto;  
  display: flex;
  flex-direction: row;
  gap: 1em;
  height: 700px;
  border-top: 1px solid #CBCBCB;
  justify-content: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.ConfirmContainer{
  padding: 5%;
  margin-bottom:5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.returnLink{
  font-weight: 400;
  font-size: 16px;
  color: #4285F4;
}
.ConfirmText{
  font-weight: 700;
  font-size: 26px;
  color: #000000;
}
.ConfirmDes{
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  opacity: 0.4;
}
.payment-form{
  padding: 2em;
  width: 50%;
  display: flex;
  overflow-y: scroll;
  justify-content: center;
  box-shadow: -5px 0px 10px 1px #f0efef;
}

.img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  float: left;
}
.Item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  padding: 10px;
  border-bottom: 1px solid #f0eded;
}

.ItemTotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  padding: 10px;
}
.ItemContainer{
  display: flex;
  flex-direction: row;
  width: 35%;
}

.itemDetails{
  padding: 8px;
}
.itemImg{
  width: auto;
}
.name {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 16.3902px;
  padding-bottom: 10px;
  color: #212529;
}
.total{
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  opacity: 0.9;
}
.value{
  color: #212121;
}
.props{
  text-align: initial;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  color: #868E96;
  font-size: 15px;
}
.items {
  display: flex;
  width: 100%;
  flex-direction: column;
}

@media only screen and (max-width: 1200px){
  .viewport{
    flex-direction: column;
    overflow-y: scroll;
    justify-content: flex-start;
  }
  .payment-form{
    width: auto;
    box-shadow: none;
    overflow-y: visible;
  }

  .ConfirmContainer{
    width: 90%;
  }
}

@media only screen and (max-width: 650px){
  .browser{
    width: 370px;
    display: inline;
  }
  .cart{
    padding: 2em;
    padding-left: auto;
    padding-right: auto;
    width: auto;
  }
  .title{
    font-size: 20px;
  }
  .mainConatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
