/* Remove blue outline of input, button in firefox */
@-moz-document url-prefix() {
  *:focus,
  *:focus-visible,
  *:focus-within,
  *:active,
  *:visited {
    outline: none !important;
  }
}

/* Remove contact and password icon in safari */
input::-webkit-credentials-auto-fill-button,
input::-webkit-contacts-auto-fill-button {
  width: 0 !important;
}

div[id*="vgs-cc-"] {
  display: block;
  height: 48px;
  /* margin-bottom: 15px; */
  position: relative;
}

div[id*="vgs-cc-"] iframe {
  height: 100% !important;
  width: 100% !important;
  border: none;
}
